# Файлы и папки операционной системы
.DS_Store
Thumbs.db
npm-debug.log*

# Файлы редактора
.idea
*.sublime*
.vscode/
*.ai
*.log
*.pdf
*.psd

# Вспомогательные файлы
*.log*
**/node_modules/

# Собранные файлы
**/bundle.js
**/main.bundle.js
**/bundle.js.map
**/main.bundle.js.map
**/dist/