@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
        url("~@/assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
        url("~@/assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("~@/assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
        url("~@/assets/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("~@/assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff")
}

@font-face {
    font-family: "Milliard";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url("~@/assets/fonts/Milliard/Milliard-Medium.woff2") format("woff2"),
        url("~@/assets/fonts/Milliard/Milliard-Medium.woff") format("woff")
}