.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 5.85%;
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  font-size: 15px;

  &__app-link {
    font-weight: 600;
    position: relative;
    display: inline-block;
    background: #e0e2e6;
    padding: 18px 29px 18px 65px;
    text-decoration: none;
    color: #484848;
    border-radius: 6px;
    transition: background-color 0.5s ease;

    &:hover,
    &:focus {
      background: #c7c7c7;
    }

    &:active {
      background: grey;
    }
  }

  &__reserv {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: 17px;
    font-family: 'Montserrat';
    font-weight: 700;
    background: #484848;
    padding: 22px 117px 19px 117px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.5s ease;

    &:hover,
    &:focus {
      background: #262626;
    }

    &:active {
      background: black;
    }
  }

  &__hotel {
    display: block;
    font-family: 'Montserrat';
    font-weight: 600;
    background: #484848;
    padding: 22px 35px 18px;
    color: #484848;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #484848;
    border-radius: 6px;
    font-size: 15px;
    transition: box-shadow 0.5s ease;

    &:hover,
    &:focus {
      box-shadow: 5px 5px 5px #484848;
    }

    &:active {
      background: #d9d9d9;
    }
  }
}


.title {
  position: relative;
  max-width: 400px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #484848;
  margin: 0;

  &--decore {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: -37px;
      left: 0;
      width: 140px;
      height: 6px;
      background-color: #484848;
      border-radius: 3px;
    }
  }
}