body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #776e65;
	min-width: 320px;
}


.container {
	box-sizing: border-box;
	width: 500px;
	margin: 0 auto;
	padding: 0 5px;
}

.btn {
  font-size: 22px;
  font-weight: bold;
  color: rgb(249, 246, 242);
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin: 10px 0px;
  padding: 0px 20px;
  background: rgb(143, 122, 102);
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.title {
	font-size: 70px;
	font-weight: bold;
	margin: 0;
	display: block;
}

.score-title {
	font-size: 25px;
	font-weight: bold;
	margin: 0;
	color: #ecc230;
}

.status {
	margin: 20px 0;
	font-size: 40px;
	font-weight: bold;
	display: block;
	color: #f65d3b;
}

.user-data {
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.player-name-wrap {
	display: block;
	margin-bottom: 5px;
}

.timer-wrap {
	display: block;
}

.player-name {
	width: 70%;
}

.timer {
	width: 105px;
}

.results-title {
	font-size: 30px;
}

.results {
	margin: 0 auto;
}

.result {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
	border-bottom: 1px solid #776e65;
	margin-bottom: 5px;
}

.grid {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	background: #cdc1b5;
	border: 6px solid #bbada0
}

.grid div {
	width: 90px;
	height: 90px;
	border: 5px solid #bbada0;
	font-size: 40px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.x2 {
	background-color: #eee4da;
	color: #727371;
}

.x4 {
	background-color: #ece0ca;
	color: #727371;
}

.x8 {
	background-color: #f4b17a;
	color: white;
}

.x16 {
	background-color: #f59575;
	color: white;
}

.x32 {
	background-color: #f57c5f;
	color: white;
}

.x64 {
	background-color: #f65d3b;
	color: white;
}

.x128 {
	background-color: #edce71;
	color: white;
}

.x256 {
	background-color: #edcc63;
	color: white;
}

.x512 {
	background-color: #edc651;
	color: white;
}

.x1024 {
	background-color: #eec744;
	color: white;
}

.x2048 {
	background-color: #ecc230;
	color: white;
}


@media screen and (max-width: 660px) {
.container {
	width: 320px;
}

	.grid {
		width: 320px;
		height: 320px;
		border: none;
	}

	.grid div {
		width: 56px;
		height: 56px;
		border: 4px solid #bbada0;
	}

	.grid .x128 {
		font-size: 32px;
	}
	
	.grid .x256 {
		font-size: 32px;
	}
	
	.grid .x512 {
		font-size: 32px;
	}

	.grid .x2048 {
		font-size: 25px;
	}

	.grid .x1024 {
		font-size: 25px;
	}
}