@font-face {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(assets/OpenSans-Regular.woff) format("woff"), url(assets/OpenSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(assets/LibreBaskerville-Bold.woff) format("woff"), url(assets/LibreBaskerville-Bold.woff2) format("woff2");
}
img {
  max-width: 100%;
  height: auto;
}
.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  height: 100%;
}
.page__body {
  margin: 0;
  padding: 0;
  padding: 31px 25px 0 25px;
  min-height: 100%;
  min-width: 270px;
  background-color: #ffffff;
  color: #111111;
}
.page__body--main {
  padding-bottom: 25px;
}
.page-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .page-header__main-nav {
    width: 71%;
    padding-left: 4%;
  }
}
@media (min-width: 1366px) {
  .page-header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.logo__img {
  width: 178px;
  height: 57px;
}
.site-list {
  margin: 0;
  padding: 0;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: block;
}
.site-list__item {
  margin-right: 1.5%;
}
.site-list__item a {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #111111;
  position: relative;
  display: block;
  padding: 12px 20vw;
  padding-bottom: 13px;
  background-color: #b6b6b6;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #3f3f3f;
}
.site-list__item--active a {
  font-weight: 700;
}
@media (min-width: 768px) {
  .site-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .site-list__item a {
    position: static;
    padding: 12px 10px;
    font-size: 18px;
    line-height: 24px;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
  }
}
@media (min-width: 1366px) {
  .site-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.main-nav {
  position: relative;
  /*в nav добавим класс .main-nav--opened, тогда нарисуется крестик*/
}
@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
@media (min-width: 1366px) {
  .main-nav__list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.main-nav__toggle {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  width: 48px;
  height: 48px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 36px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.54), 0 20px 0 0 rgba(0, 0, 0, 0.54);
          box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.54), 0 20px 0 0 rgba(0, 0, 0, 0.54);
}
.main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.3), 0 20px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.3), 0 20px 0 0 rgba(0, 0, 0, 0.3);
}
.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
  }
}
.main-nav--opened .main-nav__list {
  position: absolute;
  margin: 0;
  top: 60px;
  right: 0;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__list {
    position: static;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: auto;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
  /*псевдоэлементы полосок крестика*/
  /*поворачиваем одну из полосок на 45, другую на -45*/
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 6px;
  width: 36px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.54);
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}
.article__link {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.article__header {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}
.article__tag {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(28, 28, 28, 0.5);
}
.article__author {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(28, 28, 28, 0.5);
}
.article__text {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
}
.article__bottom {
  padding-top: 7.8vw;
  background-color: white;
}
@media (min-width: 768px) {
  .article__custom {
    padding-bottom: 285px;
    padding-left: 45px;
    background-image: url("assets/Article-top-Image(tablet).jpg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
  }
  .article__bottom {
    padding-top: 0;
    margin-top: 80px;
    background-image: url("assets/Article-Image(tablet).jpg");
  }
  .article__wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 374px;
    padding: 22px;
    background-color: white;
  }
  .article__header {
    font-size: 24px;
    line-height: 30px;
  }
  .article__tag {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (min-width: 1366px) {
  .article__custom {
    padding-bottom: 109px;
    background-image: url("assets/Article-top-Image(desktop).jpg");
  }
  .article__bottom {
    padding: 55px 78px 55px 729px;
    margin-top: 62px;
    background-image: url("assets/Article-Image(desktop).jpg");
  }
  .article__wrap {
    width: 509px;
    padding: 76px 40px 96px;
    background-color: white;
  }
  .article__header {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
  }
  .article__tag {
    font-size: 20px;
    line-height: 27px;
  }
  .article__author {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
  .article__text {
    font-size: 16px;
  }
}
.articles__header {
  position: relative;
  padding-top: 50px;
  margin: 0;
  padding-bottom: 41px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #1c1c1c;
  background-color: white;
}
.articles__header::after {
  position: absolute;
  margin: auto;
  z-index: 1;
  right: 0;
  bottom: 30px;
  left: 0;
  width: 110px;
  height: 5px;
  content: "";
  background-color: #1c1c1c;
}
.articles__item-wrap {
  padding-bottom: 7.8vw;
}
.articles__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.articles__list li:last-child .articles__item-wrap {
  padding-bottom: 0;
}
.articles__item {
  margin: 0 auto;
  max-width: 858px;
  position: relative;
  padding-top: 31.2vw;
}
.articles__item-img-link {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -15.8vw;
}
.articles__item-img {
  width: 100%;
  max-height: 480px;
}
@media (min-width: 768px) {
  .articles__header {
    padding-top: 55px;
    padding-bottom: 96px;
    font-size: 36px;
    color: #1c1c1c;
    background-color: white;
  }
  .articles__header::after {
    width: 220px;
    bottom: 92px;
  }
  .articles__list li:last-child {
    padding-bottom: 0;
  }
  .articles__item-wrap {
    min-width: 431px;
    padding: 0;
  }
  .articles__item {
    position: static;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    padding-bottom: 25px;
  }
  .articles__text {
    padding: 0;
  }
  .articles__item-img-link {
    position: static;
    z-index: 1;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .articles__item-img {
    max-width: 371px;
  }
}
@media (min-width: 1366px) {
  .articles__item {
    gap: 55px;
    padding-bottom: 50px;
  }
}
.about__header {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 24px;
  color: #111111;
}
.about__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #111111;
}
.about__img-wrap {
  text-align: center;
}
.about__text--last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about__text {
    margin: 38px 0;
    line-height: 28px;
  }
  .about__text--first {
    margin-top: 0;
  }
  .about__wrap {
    max-width: 672px;
    margin: 0 auto;
  }
  .about__img-wrap {
    float: right;
    margin: 0 0 26px 18px;
  }
}
@media (min-width: 1366px) {
  .about__wrap {
    max-width: 856px;
  }
  .about__header {
    font-size: 42px;
  }
  .about__text {
    font-size: 16px;
  }
}
.article-detail__img {
  width: 84.4vw;
  height: 62.5vw;
}
.article-detail__banner {
  text-align: center;
}
.article-detail__header {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 18px;
  text-align: center;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.article-detail__brief-inform {
  display: none;
}
.article-detail__tag {
  display: none;
}
.article-detail__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 25px 0;
}
.article-detail__author {
  margin: 30px 0;
}
@media (min-width: 768px) {
  .article-detail__info {
    max-width: 672px;
    margin: 0 auto;
  }
  .article-detail__img {
    width: 93.49vw;
    height: 90.1vw;
  }
  .article-detail__header {
    margin-top: 25px;
    margin-bottom: 8px;
  }
  .article-detail__text {
    margin: 30px 0;
  }
  .article-detail__text--first {
    margin: 0;
    margin-top: 8px;
  }
  .article-detail__brief-inform {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(28, 28, 28, 0.5);
  }
  .article-detail__tag {
    display: block;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(28, 28, 28, 0.5);
  }
}
@media (min-width: 1366px) {
  .article-detail__info {
    max-width: 790px;
  }
  .article-detail__img {
    width: 96.34vw;
    height: 43.34vw;
  }
  .article-detail__header {
    margin-top: 54px;
    margin-bottom: 17px;
    font-size: 42px;
    line-height: 52px;
  }
  .article-detail__brief-inform {
    margin-bottom: 13px;
    font-size: 16px;
  }
  .article-detail__tag {
    font-size: 16px;
  }
  .article-detail__text {
    margin: 30px 0;
    font-size: 16px;
  }
  .article-detail__text--first {
    margin-top: 26px;
  }
}
.author {
  color: #1c1c1c;
}
.author__header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(28, 28, 28, 0.5);
  margin-bottom: 28px;
}
.author__wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 24px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  grid-row-gap: 28px;
  row-gap: 28px;
}
.author__info {
  -ms-flex-item-align: center;
      align-self: center;
}
.author__text {
  grid-column-start: 1;
  grid-column-end: 3;
}
.author__email {
  display: none;
}
.author__img {
  width: 82px;
  height: 82px;
}
.author__name {
  margin: 0;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 24px;
  -ms-flex-item-align: center;
      align-self: center;
}
.author__text {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
@media (min-width: 768px) {
  .author {
    max-width: 501px;
    margin: 0 auto;
  }
  .author__header__header {
    margin-bottom: 25px;
  }
  .author__wrap {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 8px;
  }
  .author__img {
    width: 160px;
    height: 160px;
  }
  .author__info {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .author__text {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .author__avatar {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media (min-width: 1366px) {
  .author {
    max-width: 47.73vw;
  }
  .author__header {
    font-size: 20px;
  }
  .author__wrap {
    -webkit-column-gap: 37px;
       -moz-column-gap: 37px;
            column-gap: 37px;
    row-gap: 1px;
  }
  .author__name {
    font-size: 33px;
  }
  .author__email {
    display: block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(28, 28, 28, 0.5);
  }
  .author__text {
    font-size: 16px;
    line-height: 22px;
  }
}
.article-slider {
  position: relative;
  width: 100%;
  height: 50px;
}
.article-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-slider__button {
  position: absolute;
  width: 50px;
  height: 50px;
}
.article-slider__button-next {
  right: -25px;
}
.article-slider__button-back {
  left: -25px;
}
.article-slider__btn-text {
  display: none;
}
@media (min-width: 768px) {
  .article-slider__btn-text {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  .article-slider__back-btn-text {
    margin-left: 33px;
  }
  .article-slider__next-btn-text {
    margin-right: 33px;
  }
}
@media (min-width: 1366px) {
  .article-slider__btn-text {
    font-size: 20px;
  }
}


/*# sourceMappingURL=style.css.map*/
