.hotel-reviews {
  max-width: 800px;

  &__title {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 22px;
    color: #484848;
  }

  &__title-icon {
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
  }

  &__indicator {
    @include flex-v-center;
    justify-content: space-between;
    margin-bottom: 16px;
    max-width: 366px;
  }

  &__indicators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
    column-gap: 20px;
    width: 100%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #484848;
  }

  &__wrap {
    margin-top: 35px;
    margin-bottom: 48px;
  }

  &__indicator-text {
    flex-grow: 1;
  }

  &__indicator-num {
    margin-left: 12px;
  }

  &__items {
    @include flex;
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap;
    max-width: 800px;
  }

  &__item {
    max-width: 360px;
  }

  @include minitablet {
    &__indicators {
      display: block;
      font-size: 11px;
    }
  }

  @include mobile {
    &__indicators {
      font-size: 11px;
    }
  }
}