.hotel-card {
  &__top {
    border-radius: 12px;
    position: relative;
  }

  &__search {
    box-shadow: 0px 0px 10px #e5e5e5;
    border-radius: 16px;
    width: 570px;
    margin-bottom: 77px;

    @include minitablet {
      width: 100%;
    }
  }

  &__bottom-search {
    padding-left: 28px;

    @include minitablet {
      padding: 5px;
    }
  }

  &__price {
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 23px;
    font-weight: 700;
    font-size: 18px;
    color: $dusty-gray;
  }

  &__like {
    position: absolute;
    top: 38px;
    right: 16px;

    &--search {
      top: 26px;
      right: 21px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $tundora;
  }

  &__address {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $dusty-gray;
  }

  &__proprties {
    margin-top: 16px;
    @include flex-v-center;
  }

  &__proprty {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $tundora;
    margin-right: 19px;
    margin-left: 7px;
  }

  &__more-info {
    display: flex;
    margin-top: 20px;
    padding-bottom: 23px;
  }

  &__type,
  &__period {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $dusty-gray;
  }

  &__type {
    padding-right: 10px;
    border-right: 1px solid $iron;
  }

  &__period {
    padding-left: 10px;
  }

  @include minitablet {
    &__price {
      bottom: 60px;
    }
  }
}