.latest {
  &__header {
    margin-bottom: 100px;
  }

  &__cards {
    @include flex-all-sb;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 15px;
  }

  &__card {
    padding-top: 20px;
    padding-right: 19px;
    padding-bottom: 13px;
    padding-left: 21px;
    background-color: $iron;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 21vw;
    min-height: 340px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__card-wrap {
    display: flex;
    flex-direction: column;
  }

  &__like {
    align-self: flex-end;
    margin-bottom: 121px;
  }

  &__card-title {
    margin: 0;
    padding-top: 16px;
    font-weight: 700;
    font-size: 17px;
    color: $tundora;
  }

  &__card-address {
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    color: $dusty-gray;
  }

  &__small-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  @include middledesk {
    &__card {
      width: 279px;
    }
  }

  @include minidesk {
    &__cards {
      gap: 70px;
    }

    &__card {
      width: 35vw;
    }
  }

  @include minitablet {
    &__card {
      width: 100%;
    }
  }
}