.reserv-form {
  &__input {
    border: none;
    font-family: 'Montserrat';
    height: 50px;
    background: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid black;
    padding-left: 13px;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      color: #959595;
    }
  }

  &__first-name,
  &__info1,
  &__country {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 9px;
  }

  &--short {
    width: 328px;
  }

  &--long {
    width: 670px;
  }

  &__phone {
    margin-bottom: 9px;
  }


  @include minitablet {
    &--short {
      width: 100%;
    }

    &--long {
      width: 100%;
    }

    &__btn {
      padding: 22px 70px 19px 70px;
      margin: 0 auto;
      margin-top: 24px;
    }
  }
}